
/* latin */

@font-face {
    font-family: 'Orbitron';
    font-weight: normal;
    src: url('../fonts/Orbitron-Regular.ttf') format("truetype");
}

.orbitron-font {
    font-family: Orbitron !important;
}
/**********************body*************************/

/* ELEMENTS */

html {
    background-color: #333333;
}

body {
    background-color: white !important;
    word-break: normal;
}

.site {
    margin-top: 1em;
}

.jakit-gallery-excerpt {
    color: #333;
}

.content-article {
    background-color: white;
    margin-bottom: 2em;
    margin-top: 2em;
}

.sidebar-header {
    border-bottom: 2px solid #aa9d88;
    box-shadow: #b1b1b1;
    color: #2c3e50;
}

.jakit-thumbnail-anchor {
    text-decoration: none !important;
}

.jakit-thumbnail-icon {
    border: 1px solid #2e4453;
    border-radius: 4px;
    padding: 4px;
    -webkit-transition : border 500ms ease-out;
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 500ms ease-out
}

.jakit-thumbnail-icon:hover {
    border-color: #2ea2cc;
}

.jakit-entry-title {
    margin-bottom: 0 !important;
    margin-top: 4px !important;
    font-family: Orbitron;
}

.jakit-entry-meta {
    /*font-family: Orbitron;*/
}

a .jakit-entry-title, .jakit-pagination a {
    font-family: Orbitron;
}

a:hover .jakit-entry-title, .jakit-pagination a:hover {
    color: #333 !important;
}

.jakit-entry-header a {
    text-decoration-color: #333 !important;
}

.jakit-separator {}

.article-shadowed {
    box-shadow: #505050 1px 1px 6px;
}

.search-result {
    margin-bottom: 1em;
    box-shadow: #656a6f 2px 2px 0px;
    -webkit-transition : box-shadow 300ms linear !important;
    -moz-transition : box-shadow 300ms linear !important;
    -o-transition : box-shadow 300ms linear !important;
    transition : box-shadow 300ms linear !important;
}

.search-result:hover {
    box-shadow: #2c3e50 4px 4px 0px;
}

.search-post-type-description {
    padding-left: 1%;
}

.search-post-type-sign {
    padding-left: 2%;
    padding-right: 2%;
}
/* _________________________________________ */

.cookie-info {
    min-height: 8em;
    border:1px solid white;
    background-color: #333333;
    top: 0;
    left: 0;
}

.cookie-info-text {
    margin-top: 3em;
}

.cookie-closer {
    right: 0.5em;
    top: 0.5em;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

/* FOOTER */
.footer {
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: hidden;
    color: whitesmoke !important;
    background-color: #2c3e50 !important;
    border-top: 1px solid white !important ;
    border-bottom: 1px solid white !important ;
    box-shadow: #2b2b2b 0px -3px 6px !important;
}
/*___________________________________________*/



/* MAIN LOGO */
/*.page-title {*/
    /*font-family: PressStart2P;*/
    /*font-size: 1.5em !important;*/
    /*letter-spacing: 0.5em;*/
    /*color: black;!*#f08a00*!*/
    /*text-shadow: 2px 2px 3px #2c3e50;*/
    /*line-height: initial;*/
/*}*/

.page-description {
    font-size: 0.7em;
}

.page-main-link:hover {
    text-decoration: none;
}
/*___________________________________________*/



/* SEARCH INPUT*/
#s {
    border-right: none;
    box-shadow: none;
    outline: 0px !important;
    -webkit-appearance: none;
    border-radius: 0px !important;
}

#s::placeholder {
    color: #2c3e50 !important;
    letter-spacing: 0.3em;
}

#s:focus {
    border-color: #ccc !important;
}

#search-button {
    border: none;
    background-color: white;
}

#search-button:focus {
    -webkit-appearance: none;
    outline: 0px !important;
}

.search-input-buttonfield {
    background-color: white !important;
    padding: 0px 5px 0px 5px !important;
    border-left: none;
    border-radius: 0px !important;
}

#searchform .input-group {
    border: 1px solid #2c3e50;
}
/*___________________________________________*/

/* NAVBAR */

/*!! override bootstrap */

.navbar {
    border: none !important;
}

.navbar-default, .navbar-default .navbar-toggle:focus, .navbar-toggle:hover {
    border: none !important;
    background-color: #333 !important;
}

.jakit-navbar .navbar-toggle {
    background-color: #333;
    border: 1px solid #99D799;
    border-radius: 2px;
    margin-right: 20px !important;
}


.jakit-navbar-header {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.jakit-navbar-item-li > a{
    /*-webkit-transition : border 500ms ease-out !important;*/
    /*-moz-transition : border 500ms ease-out !important;*/
    /*-o-transition : border 500ms ease-out !important;*/
    /*transition : border 500ms ease-out !important;*/

    font-family: Orbitron !important;
    color: white !important;
    -webkit-transition : color 500ms linear !important;
    -moz-transition : color 500ms linear !important;
    -o-transition : color 500ms linear !important;
    transition : color 500ms linear !important;
}

.jakit-navbar-item-li > a:hover {
    color: #2c3e50 !important;
    /*border-bottom: 1px solid white !important;*/
}

.jakit-navbar-item-li-active {
    border-bottom : 1px solid black !important;
    background-color: white !important;
}

.nav>li>a {
    text-shadow: none !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: none !important;
}
/* nav 2.0 */

.menu-dropdown {
    background-color: #333333 !important;
}

.navbar-nav {
    margin :0 !important;;
}

.jakit-collapsed-button {
    color: whitesmoke; !important;
    border: 1px solid whitesmoke !important;
}

.jakit-collapsed-button .icon-bar {
    background-color: whitesmoke !important;
}

.jakit-nav {
    background-color: #2c3e50 !important;
    /*background-color: #333 !important;*/
    background-image: none !important;
    border-radius: 0px !important;
    border-top: 1px solid white !important ;
    border-bottom: 1px solid white !important ;
    box-shadow: #2b2b2b 0px 3px 6px !important;
}

.brand-font {
    font-family: 'Orbitron';
}

.jakit-blog-title {
    padding: 18px 7px !important;
    color: white !important;
    font-size: 25px !important;
    text-shadow: #2c3e50 2px 2px 3px !important;
}

.navbar-item {
    padding: 17px 7px !important;
}

.navbar-menu-list-divider {
    background-color: white !important;
    background-image: none !important;
    color: #2c3e50 !important;
}

.navbar-menu-list-position {
    font-size: 0.8em;
    color: #505050;
}

li.no-outline:focus {
    outline: none !important;
}

.jakit_user_token-input {}

.jakit_user_token-input:focus {
    outline: -webkit-focus-ring-color none !important;
}

.jakit_user_token-button {}
/* _________________________________________ */


/* CONTACT PAGE */

.contact-block-error {
    text-align: center;
    color: #333;
    background-color: #c34747;
    border: 2px #ff0000 inset;
}

.contact-block-success {
    text-align: center;
    color: #333;
    background-color: #8fd85a;
    border: 2px #bfe605 inset;
}

.contact-block-none {}

.contact-block-textarea {
    min-height: 100px;
    resize: none;
}

.contact-block-textarea:focus {
    outline: -webkit-focus-ring-color none !important;
}
/* _________________________________________ */

.header-date-gradient {
    background: linear-gradient(to bottom, #999580, #2c3e50);
}

.date-header-parent {
    /*border-bottom: 2px solid #c3c4c5;*/
    /*border-right: 2px solid #c3c4c5;*/

    padding-bottom: 3px;
    border-top: 2px solid #5f6d64;
    border-left: 2px solid #5f6d64;
    letter-spacing: 1px;

    /*box-shadow: #2b2b2b 1px 1px 1px;*/
     margin-right: 2em !important;
    vertical-align: center;
    font-weight: bold;
    padding-top: 4px !important;
}

.header-anchor {
    text-decoration: none !important;
}

.header-anchor:hover .date-header-parent {
    color: #2c3e50;
}

#header-author-section {
    margin-right: -1px !important;
}

.post-author {
 font-weight: lighter;
}

.jakit-gallery-image {
    max-width: 100% !important;
}

.wp-block-image img {
    display: block;
    margin: auto !important;
}

.jakit-entry-content p {
   font-family: Serif;
   font-size: 17px;
}

.wp-block-image figcaption {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline #555d66;
}